In [1]:
#Importation des librairies

import os
import pandas as pd
from sqlalchemy import create_engine, text
#pip install psycopg2
import psycopg2

In [2]:
#Chemin
datalake_path = 'Datalake'
products_path = '/products/olist_products_dataset.csv'
products_name = '/product_name/product_category_name_translation.csv'

#Création des dataframe
df_products = pd.read_csv(datalake_path + products_path)
df_products_name = pd.read_csv(datalake_path + products_name)

In [155]:
#Compte des valeurs nulls
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [157]:
#Compte des valeurs uniques par colonne
nombre_uniques_par_colonne = df_products.apply(pd.Series.nunique)
print("Nombre de lignes total df_products : ", df_products.shape[0])
print("Nombre de valeurs uniques par colonne :")
print(nombre_uniques_par_colonne)

Nombre de lignes total df_products :  32951
Nombre de valeurs uniques par colonne :
product_id                    32951
product_category_name            73
product_name_lenght              66
product_description_lenght     2960
product_photos_qty               19
product_weight_g               2204
product_length_cm                99
product_height_cm               102
product_width_cm                 95
dtype: int64

In [5]:
#Selection des colonnes à garder : 
df_products_select = df_products[['product_id','product_category_name']]

In [7]:
#Merge avec le dataset name_translation pour récupérer les noms anglais
df_product_translation = pd.merge(df_products_select, df_products_name, how = 'left', on = 'product_category_name')

In [9]:
#Selection des colonnes à garder
df_product_translation = df_product_translation[['product_id','product_category_name_english']]

In [11]:
df_product_final = df_product_translation.rename(columns = {'product_category_name_english':'category'})

In [ ]:
# Informations de connexion
db_config = {
    "dbname": "olist_dwh",
    "user": "postgres",
    "password": "Taha123",
    "host": "localhost",
    "port": 5432
}


# Connexion à la base de données
conn = psycopg2.connect(**db_config)
cur = conn.cursor()

    # Étape 1 : Récupérer les données sources
select_query = """
TRUNCATE TABLE dim_products; 
"""
cur.execute(select_query)

# Connexion à PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:Taha123@localhost/olist_dwh')
with engine.connect() as conn:
    df_product_final.to_sql('dim_products', conn, if_exists='append', index=False)